<h1>Plan: nombre del plan</h1>
<h2>Dia nro: nª</h2>
<hr />
<div class="container bg-warning">
<div>
  <div
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav-1"
    aria-controls="navbarNav-1"
    aria-expanded="false"
  >
    <div class="row">
      <div class="col-4"><span class="text-light"> Bicepts barra W</span></div>
      <div class="col-8">
        <input type="text" disabled value="Series: 3" />
        <input type="text" disabled value="21 - 18 - 15" />
      </div>
    </div>
  </div> <!-- Ejercicio 1-->
  <div
    class="collapse navbar-collapse justify-content-end bg-success"
    id="navbarNav-1"
  >
    <div class="row">
      <div class="col-3">
        <label class="form-label" for="form-peso"> Serie 1 </label>
      </div>
      <div class="col-3">
        <input
          id="form-peso"
          class="col-3 form-control"
          type="number"
          placeholder="Repeticiones"
        />
      </div>
      <div class="col-3">
        <input
          id="form-peso"
          class="col-3 form-control"
          type="number"
          placeholder="Peso"
        />
      </div>
      <div class="col-3">
        <button class=" btn btn-secondary" type="submit">Guardar</button>
      </div>
    </div> <!-- Serie 1-->
    <div class="row">
        <div class="col-3">
          <label class="form-label" for="form-peso"> Serie 2 </label>
        </div>
        <div class="col-3">
          <input
            id="form-peso"
            class="form-control"
            type="number"
            placeholder="Repeticiones"
          />
        </div>
        <div class="col-3">
          <input
            id="form-peso"
            class="form-control"
            type="number"
            placeholder="Peso"
          />
        </div>
        <div class="col-3">
          <button class="btn btn-secondary" type="submit">Guardar</button>
        </div>
      </div> <!-- Serie 2-->
      <div class="row">
        <div class="col-3">
          <label class="form-label" for="form-peso"> Serie 3 </label>
        </div>
        <div class="col-3">
          <input
            id="form-peso"
            class=" form-control"
            type="number"
            placeholder="Repeticiones"
          />
        </div>
        <div class="col-3">
          <input
            id="form-peso"
            class=" form-control"
            type="number"
            placeholder="Peso"
          />
        </div>
        <div class="col-3">
          <button class="btn btn-secondary" type="submit">Guardar</button>
        </div>
      </div> <!-- Serie 3-->
  </div> <!-- Detalles colapsado -->
</div><!-- ejerticio 1 -->
<div>
    <div
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav-2"
      aria-controls="navbarNav-2"
      aria-expanded="false"
    >
      <div class="row">
        <div class="col-4"><span class="text-light"> Cuadriceps maquina</span></div>
        <div class="col-8">
          <input type="text" disabled value="Series: 3" />
          <input type="text" disabled value="21 - 18 - 15" />
        </div>
      </div>
    </div> <!-- Ejercicio 2-->
    <div
      class="collapse navbar-collapse justify-content-end bg-success"
      id="navbarNav-2"
    >
      <div class="row">
        <div class="col-3">
          <label class="form-label" for="form-peso"> Serie 1 </label>
        </div>
        <div class="col-3">
          <input
            id="form-peso"
            class="form-control"
            type="number"
            placeholder="Repeticiones"
          />
        </div>
        <div class="col-3">
          <input
            id="form-peso"
            class="col-3 form-control"
            type="number"
            placeholder="Peso"
          />
        </div>
        <div class="col-3">
          <button class="btn btn-secondary" type="submit">Guardar</button>
        </div>
      </div> <!-- Serie 1-->
      <div class="row">
          <div class="col-3">
            <label class="form-label" for="form-peso"> Serie 2 </label>
          </div>
          <div class="col-3">
            <input
              id="form-peso"
              class="form-control"
              type="number"
              placeholder="Repeticiones"
            />
          </div>
          <div class="col-3">
            <input
              id="form-peso"
              class="form-control"
              type="number"
              placeholder="Peso"
            />
          </div>
          <div class="col-3">
            <button class="btn btn-secondary" type="submit">Guardar</button>
          </div>
        </div> <!-- Serie 2-->
        <div class="row">
          <div class="col-3">
            <label class="form-label" for="form-peso"> Serie 3 </label>
          </div>
          <div class="col-3">
            <input
              id="form-peso"
              class="form-control"
              type="number"
              placeholder="Repeticiones"
            />
          </div>
          <div class="col-3">
            <input
              id="form-peso"
              class="form-control"
              type="number"
              placeholder="Peso"
            />
          </div>
          <div class="col-3">
            <button class="btn btn-secondary" type="submit">Guardar</button>
          </div>
        </div> <!-- Serie 3-->
    </div> <!-- Detalles colapsado -->
  </div><!-- ejerticio 2 -->
</div>
<!--
  <div class="row">
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample1">
        <div class="card card-body">
          Some placeholder content for the first collapse component of this multi-collapse example. This panel is hidden by default but revealed when the user activates the relevant trigger.
        </div>
      </div>
    </div>
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample2">
        <div class="card card-body">
          Some placeholder content for the second collapse component of this multi-collapse example. This panel is hidden by default but revealed when the user activates the relevant trigger.
        </div>
      </div>
    </div>
  </div>
</div>
-->
